@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&family=Raleway:ital,wght@1,200&family=Unbounded&display=swap');

/* reset */
html {
    font-size: 62.5%;
    /* 16 px * 62.5 % = 1.000 rem */

}

body {
    padding: 0;
    margin: 0;
    font: 1.6rem Arial, sans-serif;;
    scroll-behavior: smooth;
}

h1 {
    margin: 0;

}

img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    color: #000;

}

fieldset {
    border: none;
}

::-webkit-scrollbar {
    display: none;
}

/* theme CSS */

.header {
    background-color: #1E90FF;
    color: #fff;
    padding: 1rem;
}

.container {
    max-width: fit-content;
    margin: auto ;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}
h1 img{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: .5rem;
}
nav ul li img{
    width: 3.5rem;
    height: 3.5rem;
}
li{
    display: inline-block;
    float: right;
    margin: -5rem 0rem 0rem 0rem;
}
li a{
    color: #fff;
    font-weight: bolder;
}
p {
    font-size: 1.5rem;
}

form{
    display: grid;
    grid-template-columns: 30% 70% ;
    max-width: 100%;
    gap: 2rem;
}
label{
    width: fit-content;
    text-align: end;
}
input{
    width: 100%;
    text-align: left;   
    line-height: 3rem;
    border: .15rem solid black;
    border-radius: .3rem;
}

form .button {
    background-color: #1E90FF;
    color: #fff;
    width: 100%;
    font-weight: bolder;
    line-height: 2.5rem;
    grid-column: 1 / -1 ;
    max-width: 30%;
    margin: auto;
    text-align: center;
}
form .button:hover{
    background-color: #fff;
    color: #000;
    font-weight: bolder;
    border: .15rem solid black;
}
footer{
    background-color: #1E90FF;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}